<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="MainCtrl">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{userName}}</strong>
                            <!--  </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span> -->
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.dashboard"><i class="fa fa-laptop"></i> <span class="nav-label">FBO Admin</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.flight"><i class="fa fa-plane"></i> <span class="nav-label">Flight Dept Admin</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.updateAirports"><i class="fa fa-map-marker"></i> <span class="nav-label">Update Airports</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.fboClients"><i class="fa fa-user"></i> <span class="nav-label">FBO Clients</span></a>
            </li>
        </ul>

    </div>
</nav>